@charset "utf-8";
body {
  font-family: 'Lato', Georgia, Times New Roman, Times, serif;
  background-image: url("../images/03948r.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.image {
  padding: 15px;
}
.icon {
  display: inline-block;
  padding: 10px;
  width: 50px;
  height: 50px;
}

#header {
  padding-top: 10%;
}
#me {
  font-size: 40px;
}
#container {
  text-align:center;
  font-size: 18px;
  margin: 0px auto;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 20px;
  width: 300px;
  height: 70px;
}
#copyright {
  position: absolute;
  bottom: 0%;
  width: 99%;
  font-size: 10px;
  color: #FFF;
  text-align: center;
}

a:link {
  text-decoration: none;
  color: #3B0059;
}
a[href^="http://"] {
    background: url("../images/external.png") center right no-repeat;
    padding-right: 13px;
}
a[href$=".pdf"] {
    background: url("../images/external_file.png") center right no-repeat;
    padding-right: 13px;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  text-decoration: none;
  color: #3B0059;
}
