@charset "utf-8";
html {
  font-family: 'Lato', Georgia, Times New Roman, 'Helvetica', sans-serif;
  background-image: url('../images/03948r.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  overflow: hidden;
}
.icon {
  display: inline-block;
  margin: 10px;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}

#header {
  padding-top: 10%;
}
#m-image {
  margin: 20px;
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
}
#me {
  color: white;
  font-size: 40px;
  font-weight: 300;
  text-shadow: 0 0 15px #000;
  -moz-text-shadow: 0 0 15px #000;
  -webkit-text-shadow: 0 0 15px #000;
  padding: 15px;
}
#container {
  padding-top: 60px;
  text-align:center;
  font-size: 18px;
  margin: 0px auto;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 20px;
  width: 500px;
  height: 70px;
}
#copyright {
  position: absolute;
  bottom: 0%;
  width: 99%;
  font-size: 10px;
  color: #FFF;
  text-align: center;
}

a:link {
  text-decoration: none;
  color: #3B0059;
}
/*a[href^="http://"] {
    background: url("../images/external.png") center right no-repeat;
    padding-right: 13px;
}
a[href$=".pdf"] {
    background: url("../images/external_file.png") center right no-repeat;
    padding-right: 13px;
}*/
a:hover {
  text-decoration: underline;
}
a:visited {
  text-decoration: none;
  color: #3B0059;
}
